<div>
  <div id="trainer-names-bg">
    <span class="trainer-names" *ngFor="let trainer of getTrainers()"
      [style.left.px]="trainer.left"
      [style.width.px]="trainer.width">
      {{trainer.name}}
    </span>
  </div>
  <svg id="timeline" [attr.width]="width" [attr.height]="height">
    <rect id="bg" [attr.width]="width" [attr.height]="height" x="0" y="0"
      fill="#FAFAFA" />
      <g class="swimlanes">
        <line *ngFor="let line of getSwimlanes()" class="swimlane"
          [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2"
          [attr.y2]="line.y2" stroke="#D3D3D3" stroke-width="1"></line>
      </g>
      <g class="rectangles">
        <g class="rectangle" *ngFor="let rect of getBatchesRectangles()">
          <rect [attr.x]="rect.x" [attr.y]="rect.y" [attr.height]="rect.h"
            [attr.width]="rect.w" [attr.fill]="rect.color"></rect>
          <text [attr.x]="rect.x+2" [attr.y]="rect.y+2" font-size="14">
            <tspan *ngFor="let d of rect.dur; let i= index" [attr.x]="rect.x+2"
              [attr.y]="rect.y+20+i*15">
              {{d}}
            </tspan>
          </text>
        </g>
      </g>
      <line class="today"
      [attr.x1]="today_line.x1" [attr.y1]="today_line.y1" [attr.x2]="today_line.x2"
      [attr.y2]="today_line.y2" stroke="#f26a25" stroke-width="1"></line>
    </svg>
  </div>