.trainer-names {
  word-wrap: break-word;
  float: left;
  vertical-align: bottom;
  text-align: center;
}
#trainer-names-bg {
  position: sticky;
  top: 0px;
  background-color: #d3d3d3;
  min-height: 40px;
  height: auto;
}
