.fill-space {
  flex: 1 1 auto;
}
.container-curricula{
  margin-top: 5%;
}
.toolbar-curricula{
  background-color: #38464E;
  color: white;
  max-height: 50px;
}
/* #38464E #3D5360*/
.toolbar-curricula-sub{
  background-color:#3D5360;
  color: white;

}

.toolbar-mat-buttons {
  margin: 12px 6px;
}

.mat-expansion-panel-header-title {
  color: white;
  font-weight: 600;
}
.panel-title-fix {
  padding-top: 8px;
}
.icon-margin-fix-header {
  color: white;
  margin: 5px;
  cursor: pointer;
}

.icon-margin-fix  {
  color: #FB8C00;
  margin: 5px;
  cursor: pointer;
}

.button-orange {
  background-color: #FB8C00;
  margin: 5px;
}
.item-detail{
  margin: 2%;
}
[hidden]{
  display: none;
}

.skill-name-container {
  background-color: #E0E4E6;
  border-radius: 2px;
  margin-left: 8px;
}
.skill-panel-name-container {
  border-radius: 3px;
  margin: 10px;
  font-size: large;
}


