.fill-space {
  flex: 1 1 auto;
}
.container-curricula{
  margin-top: 5%;
}
.mat-toolbar{
  background-color: #38464E;
  font-weight: bolder;
  max-height: 50px;
}
.mat-toolbar-title {
  color: white;
}


.mat-expansion-panel-header:hover {
  background-color: #38464E;
  color:#38464E;
}

/* #38464E #3D5360*/
.mat-expansion-panel-header{
  background-color:#3D5360;
}

.toolbar-mat-buttons {
  margin: 12px 6px;
}

.mat-expansion-panel-header-title {
  color: white;
  font-weight: 600;
}

.panel-title-fix {
  padding-top: 8px;
}

.icon-margin-fix-header {
  color: #E0E4E6;
  margin: 5px;
  cursor: pointer;
}

.icon-margin-fix  {
  color: darkorange;
  margin: 5px;
  cursor: pointer;
}

.button-orange {
  background-color: darkorange;
  margin: 5px;
}
/*.mat-icon{*/
  /*color: white;*/
/*}*/

.item-detail{
  margin: 2%;
}
[hidden]{
  display: none;
}

.skill-name-container {
  background-color: #E0E4E6;
  border-radius: 2px;
  margin-left: 8px;
}
.skill-panel-name-container {
  border-radius: 3px;
  margin: 10px;
  font-size: large;
}

mat-expansion-panel-header:hover {
  background-color: black;
}


