<div class="container-curricula">
  <mat-card>
    <mat-card-content>
      <mat-toolbar class="toolbar-curricula">
        <span>Curricula</span>
        <span class="example-fill-remaining-space"></span>
      </mat-toolbar>

      <!-- Core Curricula Content-->
      <mat-card>
        <mat-toolbar class="toolbar-curricula-sub">
          <span>Curricula</span>
          <span class="example-fill-remaining-space"></span>
        </mat-toolbar>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
