<h1 mat-dialog-title> Curriculum </h1><hr>
<div mat-dialog-content>
  <mat-form-field>
    <p> Curriculum Name </p>
    <input matInput tabindex="1" [formControl]="nameFormCtrl" [(ngModel)]="curriculum.name" value="{{curriculum.name}}">
  </mat-form-field>
  <br>
  <mat-form-field>
    <p> Skills </p>
    <mat-select placeholder="Skills" [formControl] = "skillFormCtrl" [(ngModel)] = "selected" multiple >
      <mat-option *ngFor="let skill of skillList" [value] ="skill.skillId">{{skill.name}}</mat-option>
    </mat-select>
  </mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"> Cancel </button>
  <button mat-button (click)="clickSave($event)"> Save </button>
</div>
