<div style="margin-top: 5%"></div>
<mat-card>
  <!--orange trainer title above list of trainers-->
  <mat-toolbar>
    <mat-toolbar-row>
      <span> Trainers </span>
      <span class="md-toolbar-spacer"> </span>
      <button mat-icon-button *ngIf="isManager==true" (click)="addTrainer()"  matTooltip="Add Trainer">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button (click)="showCalendar()" matTooltip="View PTO Calendar">
        <mat-icon>perm_contact_calendar</mat-icon>
      </button>

      <!--<button class="mat-icon-button" ng-click="tCtrl.googleAuth()">-->
      <!--<mat-tooltip class="mat-title"> Google Authentication </mat-tooltip>-->
      <!--<mat-icon mat-svg-icon="img/ic_perm_contact_calendar_white_24px.svg"> </mat-icon>-->
      <!--</button>-->
    </mat-toolbar-row>
  </mat-toolbar>
  <!--shows a list of all the active trainers-->
  <mat-card-content *ngIf="trainers != undefined">
    <mat-list *ngFor="let trainer of trainers">
    <app-trainer-item [trainer]="trainer" *ngIf="trainer.active"></app-trainer-item>
    </mat-list>
  </mat-card-content>
  <!--displays a loading circle if trainers is undefined-->
  <div *ngIf="trainers == undefined">
    <div fxFlex="100"> &nbsp;</div>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <div fxFlex="100"> &nbsp;</div>
  </div>

  <!--toolbar for the inactive trainers-->
  <mat-toolbar fxLayout="column">
    <mat-toolbar-row>
      <span class="cardbody"> Inactive Trainers </span>
      <span fxFlex> </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--shows a list of all inactive trainers-->
  <mat-card-content class="md-padding" *ngIf="trainers != undefined">
    <mat-list *ngFor=" let trainer of trainers">
     <app-trainer-item [trainer]="trainer" *ngIf="!trainer.active"></app-trainer-item>
    </mat-list>
  </mat-card-content>
  <!--shows a loading circle if trainers is undefined-->
  <div *ngIf="trainers == undefined" fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
    <div fxFlex="100"> &nbsp;</div>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <div fxFlex="100"> &nbsp;</div>
  </div>
</mat-card>

