.mat-paginator-active {
  outline-color: orangered;
  color: orangered;
}

.mat-expansion-panel {
  background-color: #333;
}

.mat-expansion-panel-body {
  background-color: white;
}

.mat-expansion-panel-header {
  background-color: #333;
}

.mat-expansion-panel-header-title {
  color: white;
  font-weight: 600;
}

.mat-expansion-panel-header-description {
  color: white;
}

.fill-space{
  flex: 1 1 auto;
}

.mat-icon {
  margin: 4px;
  color: white;
}

#download {
  position:relative;
  bottom:30px;
  left:0px;
  visibility:hidden;
}

#download:hover .downloadText{
  visibility:visible;
}


