<div style="margin-top: 5%">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          All Batches
        </mat-panel-title>
        <mat-panel-description>
          <span class="fill-space"></span>
          <mat-icon title="Export to CSV" (click)="exportToCSV($event)">get_app</mat-icon>

          <mat-icon [matMenuTriggerFor]="menu" (click)="openMenu($event)">
            menu
          </mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>In Progress</span>
            </button>
            <button mat-menu-item>
              <span>Beginging within two weeks</span>
            </button>
            <button mat-menu-item>
              <span>All</span>
            </button>
          </mat-menu>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
