<div style="margin-top: 5%">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          All Batches
        </mat-panel-title>
        <mat-panel-description>
          <span class="fill-space"></span>
          <mat-icon matTooltip="Export to CSV"  (click)="exportToCSV($event)">get_app</mat-icon>

          <mat-icon [matMenuTriggerFor]="menu" matTooltip="Filter"  (click)="openMenu($event)">
            menu
          </mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="filterByProgress()">
              <span>In Progress</span>
            </button>
            <button mat-menu-item (click)="filterByTwoWeeksAhead()">
              <span>Beginging within two weeks</span>
            </button>
            <button mat-menu-item (click)="filterByNone()">
              <span>All</span>
            </button>
          </mat-menu>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="batchData" matSort>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let batch"> {{batch.name}} </mat-cell>
          </ng-container>

          <!-- Curriculum Column -->
          <ng-container matColumnDef="curriculumName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Curriculum </mat-header-cell>
            <mat-cell *matCellDef="let batch"> {{batch.curriculumName}} </mat-cell>
          </ng-container>

          <!-- Trainer Column -->
          <ng-container matColumnDef="trainerName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Trainer/Cotrainer </mat-header-cell>
            <mat-cell *matCellDef="let batch"> {{batch.trainerName}} / {{batch.cotrainerName}}</mat-cell>
          </ng-container>

          <!-- Location Column -->
          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
            <mat-cell *matCellDef="let batch"> {{batch.batchLocation.locationName}} </mat-cell>
          </ng-container>

          <!-- Building Column -->
          <ng-container matColumnDef="building">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Building </mat-header-cell>
            <mat-cell *matCellDef="let batch"> {{batch.batchLocation.buildingName}} </mat-cell>
          </ng-container>

          <!-- Room Column -->
          <ng-container matColumnDef="room">
            <mat-header-cell *matHeaderCellDef mat-sort-header > Room </mat-header-cell>
            <mat-cell *matCellDef="let batch"> {{batch.batchLocation.roomName}} </mat-cell>
          </ng-container>

          <!-- StartDate Column -->
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> StartDate </mat-header-cell>
            <mat-cell *matCellDef="let batch"> {{batch.startDate| date : 'MM/dd/yyyy'}}</mat-cell>
          </ng-container>

          <!-- EndDate Column -->
          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> EndDate </mat-header-cell>
            <mat-cell *matCellDef="let batch"> {{batch.endDate| date : 'MM/dd/yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="progress">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
            <mat-cell *matCellDef="let batch"> <mat-card>
              <mat-card-content>
                  <mat-progress-bar
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="batch.progress"
                    [bufferValue]="bufferValue">
                  </mat-progress-bar>
              </mat-card-content>
            </mat-card>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="batchValues"></mat-header-row>
          <mat-row *matRowDef="let row; columns: batchValues;"></mat-row>
        </mat-table>

        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>

      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
