 <form name="ptoForm" ng-submit="ptoCtrl.send(ptoForm.$valid)" novalidate>
    <div mat-dialog-content>
      <mat-toolbar layout="columns">
        <div class="md-toolbar-tools">
          <span>PTO Request</span>
        </div>
      </mat-toolbar>

      <div class="md-padding">
        <mat-form-field flex="none">
          <label>Start Date</label>
          <input matInput [matDatepicker]="startPick" [(ngModel)]="data.pto.startDate" name="startDate" required>
          <mat-datepicker-toggle matSuffix [for]="startPick"></mat-datepicker-toggle>
          <mat-datepicker #startPick></mat-datepicker>
        </mat-form-field>


        <mat-form-field flex="none">
          <label>End Date</label>
          <input matInput [matDatepicker]="endPick"  [(ngModel)]="data.pto.endDate" name="endDate" required>
          <mat-datepicker-toggle matSuffix [for]="endPick"></mat-datepicker-toggle>
          <mat-datepicker #endPick></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <mat-dialog-actions>
      <button mat-button class="md-primary" [mat-dialog-close]="data.pto">Send</button>
      <button mat-button class="md-primary" (click)="cancel()">Cancel</button>

    </mat-dialog-actions>
  </form>
