.revOrange {
  color: #f26a25;
}

.md-toolbar-spacer {
  flex: 1 1 auto;
}

mat-card {
  margin: 0 16px;
  padding: 0;
}

mat-toolbar {
  padding: 0px 16px;
  background-color: #37474F;
  color: #E0E4E6;
}


mat-list-item .mat-list-item-inner > mat-checkbox, mat-list-item > mat-checkbox {
  margin-right: 7px;
}

.mat-list-item {
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 1%;
}

mat-card-content {
  margin: 0px;
  padding: 16px;
}

mat-icon {
  margin: 0;
}

i {
  margin: 0px;
  display: inline-flex;
  vertical-align: middle;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}

.fill-space{
  flex: 1 1 auto;
}

.spaceBottom {
  padding-bottom: 5%;
}
