<mat-card>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="toolbar-curricula-sub" (focus)="deselect()">
        <mat-panel-title>
          <span class="panel-title-fix">Core Curricula</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mat-panel-content">
        <mat-list>
          <mat-list-item class="item-detail" *ngFor="let core of coreData; last as last">
            <div>
              <h3 mat-line class="core-name">{{core.name}}</h3>
              <p mat-line class="core-skills">Skills: {{core.skills}}</p>
              <br>
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
