

<nav mat-tab-nav-bar style="overflow: auto;" *ngIf="admin !== 'VP of Technology'">
  <span fxFlex></span>

    <a mat-tab-link
       *ngFor="let link of tabs"
       [routerLink]="link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive"
    style="text-decoration: none">
      <div *ngIf="link === 'logout" (click)="logout()">
	{{link.toUpperCase()}}
      </div>
    </a>
</nav>

<nav mat-tab-nav-bar style="overflow: auto;" *ngIf="admin === 'VP of Technology'">
  <span fxFlex></span>

  <a mat-tab-link
     *ngFor="let link of adminTabs"
     [routerLink]="link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     style="text-decoration: none">
    <div *ngIf="link === 'logout" (click)="logout()">
      {{link.toUpperCase()}}
    </div>
  </a>
  <!--<span fxFlexOffset></span>-->
</nav>
