

  <mat-tab-group class="col-md-12" (selectedTabChange)="selectTab($event)" [(selectedIndex)]="selectedTab">
    <mat-tab *ngFor="let tab of tabs" [label]="tab.toUpperCase()"></mat-tab>
  </mat-tab-group>

<!--<nav mat-tab-nav-bar>-->
  <!--<span fxFlexFill></span>-->
  <!--<a mat-tab-link-->
     <!--*ngFor="let link of tabs"-->
     <!--[routerLink]="link"-->
     <!--routerLinkActive #rla="routerLinkActive"-->
     <!--[active]="rla.isActive"-->
  <!--style="text-decoration: none">-->
    <!--{{link.toUpperCase()}}-->
  <!--</a>-->
<!--</nav>-->

