<div style="margin-top: 5%">
  <div>
    <div>
      <mat-accordion>
        <mat-expansion-panel [disabled]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4 class="panel-font">Locations</h4>
            </mat-panel-title>
            <mat-panel-description>
              <span class="fill-space"></span>
              <mat-icon matTooltip="Add Location" class="material-icons" (click)="openAddLocationDialog($event)" *ngIf="userRole === 'VP of Technology'"> add_location</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
      <div style="padding-top: .5%" >
        <mat-accordion>
          <div *ngFor="let location of locations; let i = index">
            <mat-expansion-panel  *ngIf="location.active === true">
              <!--<mat-expansion-panel-header (click)="collapseAll(location.id)">-->
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon mat-list-icon svgIcon="location"></mat-icon>
                  <h4 mat-line>{{location.name}} &nbsp;</h4>
                  <p mat-line> &nbsp;{{location.city}}, {{location.state}} </p>
                </mat-panel-title>
                <mat-panel-description>
                  <span class="fill-space"></span>
                  <mat-icon matTooltip="Add Building" class="material-icons" (click)="openAddBuildingDialog($event, location)" *ngIf="userRole === 'VP of Technology'"> add_circle</mat-icon>
                  <mat-icon matTooltip="Remove Location" class="material-icons" (click)="openDeleteLocationDialog($event, location)" *ngIf="userRole === 'VP of Technology'"> location_off</mat-icon>
                  <mat-icon matTooltip="Edit Location" class="material-icons" (click)="openEditLocationDialog($event, location)" *ngIf="userRole === 'VP of Technology'"> edit</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div style="padding-top: .5%" >
                <mat-accordion>
                  <div *ngFor="let building of location.buildings">
                    <mat-expansion-panel *ngIf="building.active === true" >
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon mat-list-icon svgIcon="building"></mat-icon>
                          <h4 mat-line>{{building.name}}</h4>
                        </mat-panel-title>
                        <mat-panel-description>
                          <span class="fill-space"></span>
                          <mat-icon matTooltip="Add Room" class="material-icons" (click)="openAddRoomDialog($event, building)" *ngIf="userRole === 'VP of Technology'"> add_circle_outline</mat-icon>
                          <mat-icon matTooltip="Remove Building" class="material-icons" (click)="openDeleteBuildingDialog($event, building)" *ngIf="userRole === 'VP of Technology'"> remove_circle</mat-icon>
                          <mat-icon matTooltip="Edit Building" class="material-icons" (click)="openEditBuildingDialog($event, building)" *ngIf="userRole === 'VP of Technology'"> edit</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <div style="padding-top: .5%" *ngFor="let room of building.rooms">
                        <mat-list *ngIf="room.active === true">
                          <mat-list-item >
                            <h4 mat-line><mat-icon style="color: black">store</mat-icon>{{room.roomName}}</h4>
                            <span class="fill-space"></span>
                            <mat-icon matTooltip="Remove Room" class="material-icons" style="color: #f26a25; cursor: pointer" (click)="openDeleteRoomDialog($event, room)" *ngIf="userRole === 'VP of Technology'"> remove_circle_outline</mat-icon>
                            <mat-icon matTooltip="Edit Room" class="material-icons"style="color: #f26a25; cursor: pointer" (click)="openEditRoomDialog($event, room)" *ngIf="userRole === 'VP of Technology'"> edit</mat-icon>
                          </mat-list-item>
                          <mat-divider></mat-divider>
                        </mat-list>
                      </div>

                    </mat-expansion-panel >
                  </div>
                </mat-accordion>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
    </div>
  </div>
    <!--</mat-expansion-panel>-->
  <!--</mat-accordion>-->
</div>
