/* ---------- CURRICULA STYLES ---------- */
.container-curricula {
  margin-top: 5%;
  width: 100%;
}

.toolbar-curricula {
  background-color: #38464e;
  color: white;
  max-height: 50px;

  background-color: inherit;
  color: inherit;
}

.toolbar-mat-buttons {
  margin: 12px 6px;
}

.panel-title-fix {
  padding-top: 8px;
}

.icon-margin-fix {
  margin: 0px;
}

.button-orange {
  background-color: #fb8c00;
  margin: 5px;
}

.item-detail {
  margin: 2%;
}

[hidden] {
  display: none;
}
