.revOrange {
  color: #f26a25;
}

.md-toolbar-spacer {
  flex: 1 1 auto;
}

.md-toolbar {
  padding: 0px 16px;
  background-color: inherit;
  color: inherit;
}

.md-list-item {
  border-radius: 10px;
  margin: 6px 8px;
  padding: 0 6px;
}

.inputFile {
  display: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-toolbar-row {
  background-color: #37474f;
  color: #e0e4e6;
  display: flex;
}

mat-card {
  margin: 0 16px;
  padding: 0;
}

mat-card-content {
  margin: 0;
  padding: 16px;
}

.mat-list-item-content {
  padding: 0;
}

mat-icon {
  margin: 0;
  display: inline-flex;
  vertical-align: middle;
}
