<div id="profileDiv" class="container">
  <!--<mat-card *ngIf="tId == -1" md-whiteframe="8" ng-cloak>-->
  <mat-card>
    <mat-toolbar-row>
      <mat-toolbar class="md-toolbar" layout="columns">
        <span class="mat-expansion-panel-header-title">Profile</span>
        <span class="md-toolbar-spacer"></span>
        <button mat-icon-button (click)="updateTrainerInfo()">
          <mat-icon matTooltip="Save" class="material-icons" *ngIf="!lockProfile">save</mat-icon>
          <mat-icon matTooltip="Edit" class="material-icons" *ngIf="lockProfile">edit</mat-icon>
        </button>
      </mat-toolbar>
    </mat-toolbar-row>
    <!--info section-->
    <mat-card-content *ngIf="trainer != undefined" id="profileContent">
      <div class="row">
        <div class="col-lg-2">
          <img layout="column" style="border-radius: 50%;" alt="" ng-src="https://app.revature.com/core/resources/download/default/interns/image?t=1486138020884"
            id="displayImage" class="width-200 height-200" src="https://app.revature.com/core/resources/download/default/interns/image?t=1486138020884">
        </div>
        <div class="col-lg-10">
            <h1>{{this.trainer.firstName}} {{this.trainer.lastName}}</h1>
            <div layout="row">
              <!--need to figure out accessing the file, as far as permissions go-->
              <label> Current Resume: </label>
              <label *ngIf="trainer.resume != null">{{trainer.resume}}</label>
              <label *ngIf="trainer.resume == null">No resume on file</label>
              <br>
            </div>
            <div *ngIf="!lockProfile">
            <form [formGroup]="nameForm">
              <mat-form-field flex>
                <input matInput class="formControl" placeholder="First Name" formControlName="firstName" required>
              </mat-form-field>
              <mat-form-field flex>
                <input matInput class="formControl" placeholder="Last Name" name="lastLast" formControlName="lastName" required>
              </mat-form-field>
            </form>
            <div class="row">
              <div class="col-lg-2">
                <label for="addResume">Add Resume:</label>
                <button name="addResume" mat-icon-button (click)="inputResume.click()">
                  <input class="inputFile" #inputResume type="file" (change)="getFiles($event)">
                  <mat-icon matTooltip="Add/Update Resume" position="below" class="material-icons revOrange">add_circle</mat-icon>
                </button>
              </div>
              <div class="col-lg-11" *ngIf="myFile != undefined">
                <label>{{myFile[0].name}}</label>
              </div>
          </div>
          </div>
        </div>
      </div>
      <app-skills></app-skills>
      <app-certifications></app-certifications>
      </mat-card-content>
    </mat-card>
</div>