

  <mat-tab-group class="tabs col-md-12" (selectedTabChange)="selectTab($event)" [(selectedIndex)]="selectedTab" data-cy="navbar">
    <mat-tab label="OVERVIEW">
    </mat-tab>
    <mat-tab label="BATCHES">
    </mat-tab>
    <mat-tab label="LOCATIONS">
    </mat-tab>
    <mat-tab label="CURRICULA">
    </mat-tab>
    <mat-tab label="TRAINERS">
    </mat-tab>
    <mat-tab label="PROFILE">
    </mat-tab>
    <mat-tab label="REPORTS">
    </mat-tab>
    <mat-tab label="SETTINGS">
    </mat-tab>
    <mat-tab label="LOGOUT">
    </mat-tab>
  </mat-tab-group>
