<!--skills section-->
  <mat-toolbar-row>
    <mat-toolbar class="md-toolbar" layout="columns">
      <span class="mat-expansion-panel-header-title">Skills</span>
      <span class="md-toolbar-spacer"></span>
      <button mat-icon-button (click)="updateSkills()">
        <mat-icon matTooltip="Save" class="mat-icon" *ngIf="!lockSkills">save</mat-icon>
        <mat-icon matTooltip="Edit" class="mat-icon" *ngIf="lockSkills">edit</mat-icon>
      </button>
    </mat-toolbar>
  </mat-toolbar-row>

  <mat-card-content *ngIf="loading===true">
    <div class="center">
      <div fxFlex="100"> &nbsp;</div>
      <mat-progress-spinner class="center" mode="indeterminate"></mat-progress-spinner>
      <div fxFlex="100"> &nbsp;</div>
    </div>
  </mat-card-content>
  
  <mat-card-content *ngIf="loading==false && skillsList.length >= 1">
    <div class="md-padding" layout="column">
      <div *ngIf="!lockSkills">
      <h2 matSubheader>Select a skill:</h2>
      <mat-select class="revOrange" placeholder="Select Skill">
        <mat-optgroup>
          <mat-option *ngFor="let skill of skillsList" (click)="addSkill(skill)">
            {{skill}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <hr>
      </div>
      <h2 matSubheader>Current skills:</h2>
      <mat-list>
        <button [disabled]="lockSkills" mat-button class="md-list-item" *ngFor="let skill of trainer.skills" (click)="removeSkill(skill)">
          <mat-icon class="material-icons">stars</mat-icon>
          <h5>{{skill.name}}</h5>
        </button>
      </mat-list>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="loading == false && skillsList.length < 1">
    <h1 class="center">FAILED TO LOAD</h1>
  </mat-card-content>
