.md-toolbar-spacer {
  flex: 1 1 auto;
}

.md-toolbar {
  padding: 0px 16px;
  background-color: inherit;
  color: inherit;
}

/* ---------- DISPLAY SKILLS ----------- */
.md-list-item {
  border-radius: 10px;
  margin: 6px 8px;
  padding: 0 6px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  margin: 0 16px;
  padding: 0;
}

mat-card-content {
  margin: 0;
  padding: 16px;
}

mat-icon {
  margin: 0;
  display: inline-flex;
  vertical-align: middle;
}

mat-select {
  width: 300px;
}
