/* ---------- SKILLS STYLING ----------- */

/* ---------- ICONS ----------- */
mat-icon {
  margin: 0;
  display: inline-flex;
  vertical-align: middle;
}

.mat-icon {
  color: #fff;
}

.mat-icon:hover {
  color: #fb8c00;
}

/* ---------- MAT TOOLBAR ----------- */
.md-toolbar {
  padding: 0px 16px;
  background-color: transparent;
  color: inherit;
}

.md-toolbar-spacer {
  flex: 1 1 auto;
}

/* ---------- MAT LIST ITEM DISPLAY SKILLS ----------- */
.md-list-item {
  border-radius: 10px;
  margin: 6px 8px;
  padding: 0 6px;
}

/* ---------- MAT CARD ----------- */
mat-card {
  margin: 0;
  padding: 0;
}

mat-card-content {
  margin: 0;
  padding: 16px;
}

mat-select {
  width: 300px;
}
