#check, #checkcell{
  max-width: 25px;
}
.mat-expansion-panel {
  background-color: black;
}

.mat-expansion-panel-body {
  background-color: white;
}

.mat-expansion-panel-header {
  background-color: black;
}

.mat-expansion-panel-header-title {
  color: white;
  font-weight: 600;
}

.mat-icon {
  color: darkorange;
}

.mat-icon-button {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}
