<div style="margin-top: 5%">

  <!--------Create New Batch ------->
  <!-- Only Appears if they are admin ------>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create New Batch
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="example-form">
        <div class="example-container">
          <div>
            <mat-form-field>
            <mat-select placeholder="Core Curriculum" >
              <mat-option *ngFor="let Curriculum of Curriculums" [value]="Curriculum.value" >
                {{ Curriculum.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Focus">
              <mat-option *ngFor="let focus of focuses" [value]="focus.value">
                {{ focus.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Skills" [formControl]="skills" multiple>
              <mat-option *ngFor="let skill of skillsList" [value]="skill">{{skill}}</mat-option>
            </mat-select>
          </mat-form-field>

          </div>
          <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Choose a start date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Choose an end date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="spans {{datebetween}} weeks" readonly>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>

          </div>
          <div>
          <mat-form-field>
            <mat-select placeholder="Trainer">
              <mat-option *ngFor="let trainer of trainers" [value]="trainer.value">
                {{ trainer.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Co-Trainer">
              <mat-option *ngFor="let trainer of trainers" [value]="trainer.value">
                {{ trainer.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
            </div>

          <mat-form-field>
            <mat-select placeholder="Location">
              <mat-option *ngFor="let location of locations" [value]="location">
                {{ location.location.toString().valueOf() }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field>
            <mat-select placeholder="Building">
              <mat-option *ngFor="let building of buildings" [value]="building.value">
                {{ building.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Room">
              <mat-option *ngFor="let room of rooms" [value]="room.value">
                {{ room.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>


        </div>
        <!--Coriculum <input type="text" name="coriculum">-->
      </form>

    </mat-expansion-panel>



  </mat-accordion>

  <!------All Batches------->
  <!------This has some Admin properties------->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          All Batches
        </mat-panel-title>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>

  <!-----Batch TimeLine------>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Batch Timeline
        </mat-panel-title>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>

</div>
