#check, #checkcell{
  max-width: 25px;
}
.mat-expansion-panel {
  background-color: #3D5360;
}

.mat-expansion-panel-body {
  background-color: white;
}

.mat-expansion-panel-header {
  background-color: #3D5360;
}

.mat-expansion-panel-header-title {
  color: white;
  font-weight: 600;
}

#buttonIcon {
  color: darkorange;
}

.fill-space{
  flex: 1 1 auto;
}

.third {
  min-width: 33%;
}

.fourth {
  min-width: 22%;
}

.half {
  min-width: 40%;
}

.mat-icon-button {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

.fill-space{
  flex: 1 1 auto;
}
