<div style="margin-top: 5%"></div>
<mat-card>
  <!--orange trainer title above list of trainers-->
  <mat-toolbar>
    <mat-toolbar-row>
      <span> Trainers </span>
      <span class="md-toolbar-spacer"> </span>
      <button mat-icon-button *ngIf="isManager==true" (click)="addTrainer($event)"  matTooltip="Add Trainer">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button (click)="showCalendar()" matTooltip="View PTO Calendar">
        <mat-icon>perm_contact_calendar</mat-icon>
      </button>

      <!--<button class="mat-icon-button" ng-click="tCtrl.googleAuth()">-->
      <!--<mat-tooltip class="mat-title"> Google Authentication </mat-tooltip>-->
      <!--<mat-icon mat-svg-icon="img/ic_perm_contact_calendar_white_24px.svg"> </mat-icon>-->
      <!--</button>-->
    </mat-toolbar-row>
  </mat-toolbar>
  <!--shows a list of all the active trainers-->
  <mat-card-content *ngIf="trainers != undefined">
    <mat-list *ngFor="let trainer of trainers">
      <mat-list-item mat-ripple="#ff0000" *ngIf="trainer.active" (click)="goToTrainer(trainer)">
        <mat-icon matListIcon style="color: #000;" >people</mat-icon>
          <h4 matLine> {{ trainer.firstName }} {{ trainer.lastName }} </h4>
          <p *ngIf="trainer.skills.length > 0" matLine> Skills: {{ joinObjArrayByName(trainer.skillsObject) }} </p>
          <p *ngIf="trainer.skills.length <= 0" matLine> Skills: none </p>
        <span class="md-toolbar-spacer"> </span>

        <button mat-icon-button (click)="grabS3Resume(trainer)" matTooltip="Download Resume">
          <mat-icon class="revOrange">file_download</mat-icon>
        </button>
        <button mat-icon-button (click)="removeTrainer(trainer)" *ngIf="isManager==true" matTooltip="Deactivate Trainer">
          <mat-icon class="revOrange">remove_circle</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <!--displays a loading circle if trainers is undefined-->
  <mat-card-content *ngIf="trainers == undefined" fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </mat-card-content>

  <!--toolbar for the inactive trainers-->
  <mat-toolbar fxLayout="column">
    <mat-toolbar-row>
      <span class="cardbody"> Inactive Trainers </span>
      <span fxFlex> </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--shows a list of all inactive trainers-->
  <mat-card-content class="md-padding" *ngIf="trainers != undefined">
    <mat-list *ngFor=" let trainer of trainers">
      <mat-list-item class="md-2-line" mat-ripple="#ff0000" *ngIf="trainer.active==false">
        <mat-icon matListIcon style="color: #000;" >people</mat-icon>
          <h4 matLine> {{ trainer.firstName }} {{ trainer.lastName }} </h4>
          <p *ngIf="trainer.skills.length > 0" matLine> Skills: {{ joinObjArrayByName(trainer.skillsObject) }} </p>
          <p *ngIf="trainer.skills.length <= 0" matLine> Skills: none </p>
        <span class="md-toolbar-spacer"> </span>
        <!--button activates a Trainer-->
        <button mat-icon-button (click)="activateTrainer(trainer)" *ngIf="isManager==true" matTooltip="Reactivate Trainer">
          <mat-icon class="revOrange">add_circle</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <!--shows a loading circle if trainers is undefined-->
  <mat-card-content *ngIf="trainers == undefined" fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </mat-card-content>
</mat-card>

